.alignCenter {
    display: flex;
    align-items: center;
}
.justCenter {
    display: flex;
    justify-content: center;
}
.left {
    display: flex;
    justify-content: flex-start;
}
.right {
    display: flex;
    justify-content: flex-end;
}
.allCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.spCenter {
    display: flex;
    justify-content: space-between;
}
.spaCenter {
    display: flex;
    justify-content: space-around;
}
.bgc {
    background-position: center;
    background-size: cover;
}

.clearFix::after,.clearFix::before {
    content: '';
    display: table;
}
.clearFix::after {
    clear: both;
}

.wordNowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scrollStyle::-webkit-scrollbar {
    width: 10px;
}
.scrollStyle::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: rgba(236,236,236,1);
}
.scrollStyle::-webkit-scrollbar-thumb:hover {
    background: #CFCFD1;
}
.scrollStyle::-webkit-scrollbar-track {
    background: rgba(188,188,188,.1);
}